@import '../_vars';

.searchform {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 1px rgba(63, 63, 68, .05), 0 1px 3px rgba(63, 63, 68, .1), 0 1px 2px rgba(0, 0, 0, .05);
    border-radius: 3px;

    .fieldset {
        legend {
            color: @grayscale--medium;
        }
    }

    .datetime__group {
        .field {
            border-bottom-color: @grayscale--light;
        }
        // remove select box styling
        .input-dropdown {
            position: relative;

            select {
                appearance: none;
                display: block;
                width: 100%;
                box-sizing: border-box;
            }

            &::before {
                // content: '\e0cd'; // timer
                content: '\e034'; // down arrow
                display: inline-block;
                width: 1em;
                position: absolute;
                right: 0;
                top: 0;
                z-index: -1;
                font-family: Icons;
                font-size: 85%;
                padding-right: 0.25em;
            }
        }
    }

    .field {
        > span {
            color: lighten(@grayscale--medium, 10%);
            @media @screen--S {
                // Labels seem too big on small screen device font size of 16px
                font-size: 70%;
            }
        }
    }
}

.search__loader {
    .sk-wordpress {
        background-color: @color--highlight;
    }
}
