@import url("https://fonts.googleapis.com/css?family=Lato:100,400,700|Roboto+Slab:700");
@import './_vars';

body {
    background-color: @color--subtle;
}

.hopcar {
    font-family: @font--main;
    font-size: 12px;
    color: @color--text;
    line-height: 1.45;

    button, input, optgroup, select, textarea {
        font-family: inherit;
    }

    @import './Layout/ErrorMessage';
    @import './Layout/Masthead';
}
